@media (max-width: 768){
   body{
      background-color: rgb(39, 39, 39);
  }
  h1{
      font-family: sans-serif;
      color: white;
  }
  p{
      font-family: sans-serif;
      color: white;
  }
  label{
      font-family: sans-serif;
      color: white;
  }
}
